body {
  background-image: url("../assets/bg.png");
  width: 100%;
  position: relative;
}
#gameContainer {
  position: relative;
  margin: auto;
  width: 800px;
}

#gameContainer h1{
  width: 800px;
  height: 100px;
  border-radius: 5px;
  text-align: center;
  background: rgba(234,195,136, 0.95);
  color: rgb(221,66,62);
}
