body {
  background-image: url("../assets/bg.png");
  width: 100%;
  position: relative;
}
#gameContainer {
  position: relative;
  margin: auto;
  width: 800px;
}

#gameContainer h1{
  width: 100px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  background: rgba(234,195,136, 0.95);
  font-size: 40px;
  padding: 10px;
  margin: auto;
}
